.cart {
  padding: 45px 20px 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .cart {
      width: 700px;
      max-height: 90vh;
      min-height: 70vh; } }
  @media (min-width: 1024px) {
    .cart {
      width: 780px; } }

.cart__products {
  padding: 20px 0; }

.cart__no-products {
  text-align: center;
  max-width: 190px;
  margin: 0 auto;
  color: #bdbdbd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (min-width: 768px) {
    .cart__no-products {
      top: 55%; } }

.cart__no-products__copy {
  margin-top: 20px;
  color: #939393; }
  @media (min-width: 768px) {
    .cart__no-products__copy {
      margin-top: 25px; } }

.cart__breakdown {
  width: 100%; }
  .cart__breakdown td {
    padding-top: 20px; }
  .cart__breakdown tr:nth-last-child(2) td {
    padding-bottom: 20px; }

.cart__breakdown__label {
  color: #9d9d9d; }

.cart__breakdown__value {
  text-align: right; }

.cart__checkout-btn {
  width: calc(100% + 40px);
  margin-top: auto;
  border-radius: 0;
  transform: translateX(-20px);
  flex: 0 0 40px; }
