html {
  background: transparent;
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
  text-size-adjust: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background: #f2f4f7;
  color: #2a2a2a;
  display: flex;
  /* for sticky footer */
  flex-direction: column;
  /* for sticky footer */
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 100%;
  /* for IE to behave with flex */
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  position: relative;
  text-rendering: optimizelegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

nav ol,
nav ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }
  nav ol li,
  nav ul li {
    display: inline-block; }

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

figure {
  margin: 0; }

hr {
  background: #2a2a2a;
  border: none;
  box-sizing: content-box;
  display: block;
  height: 1px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2a2a2a;
  font-family: Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  line-height: 1.5; }

p {
  margin: 0;
  orphans: 2;
  widows: 2; }

blockquote {
  color: #2a2a2a;
  display: block;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-left: 20px;
  font-size: 16pxpx;
  font-size: 1.6pxrem; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover {
    color: #407FC0; }

b,
strong {
  font-family: Arial, sans-serif;
  font-weight: normal; }

em {
  font-family: Arial, sans-serif;
  font-style: none; }

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  outline: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button {
  background: none;
  border: 0;
  overflow: visible;
  -webkit-appearance: none; }

button,
select {
  text-transform: none; }

select::-ms-expand {
  display: none; }

button,
html input[type="button"],
input[type="reset"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none; }

button[disabled],
html input[disabled] {
  cursor: Arial, sans-serif; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0; }

input {
  border-radius: 0;
  line-height: normal;
  -webkit-appearance: none; }

select {
  -webkit-appearance: none; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

a, div, span, p, em, strong, a:focus {
  outline: none !important;
  -moz-outline: none !important; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
  margin: 0;
  -webkit-appearance: none; }

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

::-webkit-input-placeholder {
  color: #2a2a2a; }

::-moz-placeholder {
  color: #2a2a2a; }

:-ms-input-placeholder {
  color: #2a2a2a; }

:-ms-input-placeholder {
  color: #2a2a2a; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

::-moz-selection {
  background: rgba(42, 42, 42, 0.9);
  color: white;
  text-shadow: none; }

::selection {
  background: rgba(42, 42, 42, 0.9);
  color: white;
  text-shadow: none; }

#root {
  height: 100%; }
