@font-face {
  font-family: "icomoon";
  src: url("../../assets/fonts/icomoon.eot");
  src: url("../../assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon.woff") format("woff"), url("../../assets/fonts/icomoon.ttf") format("truetype");
  font-style: normal;
  font-stretch: normal;
  font-weight: normal; }
