.product {
  border-radius: 5px;
  background-color: white;
  overflow: hidden; }
  @media (min-width: 768px) {
    .product {
      display: flex;
      flex-direction: row;
      align-items: flex-start; } }

.product__img {
  width: 100%; }
  @media (min-width: 768px) {
    .product__img {
      width: 40%; } }

.product__body {
  padding: 20px; }
  @media (min-width: 768px) {
    .product__body {
      display: flex;
      align-self: stretch;
      flex-direction: column;
      align-items: flex-start;
      width: 60%;
      padding: 30px 35px; } }
  @media (min-width: 1024px) {
    .product__body {
      padding: 40px 50px; } }

.product__body__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }

.product__body__inventory {
  margin-top: 8px;
  text-transform: uppercase; }
  @media (min-width: 1024px) {
    .product__body__inventory {
      margin-top: 16px; } }

.product__body__btn {
  margin-top: 25px; }
  @media (min-width: 768px) {
    .product__body__btn {
      margin-top: auto; } }
