@import '../../scss/variables/mixins.scss';
@import '../../scss/variables/variables.scss';

.product {
  border-radius: 5px;
  background-color: $white;
  overflow: hidden;

  @include breakpoint(md) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.product__img {
  width: 100%;

  @include breakpoint(md) {
    width: 50%;
  }
}

.product__body {
  padding: 20px;

  @include breakpoint(md) {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }
}

.product__body__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.product__body__inventory {
  margin-top: 8px;
}

.product__body__btn {
  margin-top: 25px;
  @include breakpoint(md) {
    margin-top: auto;
  }
}
