@import '../../scss/variables/mixins.scss';
@import '../../scss/variables/variables.scss';

.products-list {
  margin-top: 20px;

  @include breakpoint(md) { margin-top: 25px; }
  @include breakpoint(lg) { margin-top: 30px; }
}
