.header {
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d8d8; }
  @media (min-width: 768px) {
    .header {
      padding-bottom: 25px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }
  @media (min-width: 1024px) {
    .header {
      padding-bottom: 30px; } }
