@import '../../scss/variables/mixins.scss';
@import '../../scss/variables/variables.scss';

.page-wrapper {
  padding: 30px 15px;
  max-width: 400px;
  margin: 0 auto;

  @include breakpoint(md) {
    max-width: 700px;
    padding: 40px 50px 50px;
  }

  @include breakpoint(md) {
    max-width: 1120px;
    padding: 55px 80px 70px;
  }
}
