.cart-product + .cart-product {
  margin-top: 20px;
  border-top: 1px solid #d8d8d8;
  padding-top: 20px; }

.cart-product img {
  width: 110px; }

.cart-product__info {
  display: flex;
  flex-direction: row;
  align-items: start; }

.cart-product__info__details {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: stretch; }

.cart-product__info__details__remove-btn {
  color: #cc1d39;
  margin-top: auto;
  transition: opacity 0.3s ease-in-out 0s; }
  .cart-product__info__details__remove-btn:hover {
    opacity: 0.5; }

.cart-product__quantity {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 20px;
  max-width: 300px; }
  .cart-product__quantity button {
    width: 95px;
    padding: 20px; }

.cart-product__quantity__value {
  flex-grow: 1;
  text-align: center;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding-top: 11px; }
